.sessions-sidebar {
  width: 250px;
  
  @media screen and (max-width: break-large) {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 5px;
  }
  
  .session {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid grey;
    
    @media screen and (max-width: break-large) {
      flex-direction: column
    }
    
    &.selected {
      background-color: #528DFF;
      color: white;
      border-bottom: 1px solid white !important;
    }
    &.selected * {
      color: white;
    }
    
    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 12px;
      color: #919CA2;
      
      @media screen and (max-width: break-large) {
        align-items: center;
      }
    }

    .details * {
      margin: 3px 0;
    }
    
  }


}
