.heatmap-section {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  /*overflow-y: scroll;*/
}

#heatmap-wrapper {
  height: 100%;
  display: flex; /* This will disable the ability to have a scrollable image but means the heatmap is rendered correctly */
}

#heatmap-wrapper .heatmap-canvas {
  height: 100%;
  width: 100%;
}

.heatmap-section img {
  width: 100%;
}
