node_modules/
bower_components/
*.log

build/
dist/
**/.DS_Store
node_modules
config
designs
app/src/client/build/
landing/src/build/
**/build/
**/credentials.json
**/env.js

.env
config.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
EC2TaskDefinition.JSON
EC2TaskDefinition-Single.JSON

# Logs
*.log