**/.DS_Store
node_modules
designs
src/client/build

#docker-compose env file
*.env not needed anymore because it's just keys for local development

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
EC2TaskDefinition.JSON
EC2TaskDefinition-Single.JSON
