{
  "AWSEBDockerrunVersion": 2,
  "Authentication": {
    "Bucket": "engauge-bucket",
    "Key": "docker/dockercfg"
  },
  "containerDefinitions": [{
      "name": "web",
      "image": "stolemyusername/engauge:<TAG>",
      "essential": true,
      "memory": 128,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 3000
        }
      ],
      "mountPoints": [
      ]
    }]
}