#app {
	display: flex;
	flex-direction: column;
}
body {
	margin: 0;
	font-family: Raleway-Medium;
}

a, a:visited, a:hover, a:active {
	  color: inherit;
	  text-decoration: none;
}
/*==============================
=======Primary Navigation=======
==============================*/
.primary-nav {
    height: 30px;
	display: flex;
    background-color: #003144;
    padding: 1em;
    color: white;
    flex-direction: row;
	font-weight: lighter;
    align-items: center;
}

.primary-nav a {
	text-decoration:none;
	font-size: 1em;
	color: #FFFFFF;
	letter-spacing: 0;
	margin: 0 0.5em
}

.primary-nav .button {
	background-color: #528DFF;
	padding: 8px 16px;
	margin-right: 15px;
}

.primary-nav .button:hover {
	background-color: #ee6123;
}

.primary-nav .hamburger {
	font-size: 45px;
	padding: 8px 16px;
}

.primary-nav .first-item {
	margin-left: auto;
}

.stats-container {
	position: relative;
	background-color: #144052;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stats-container .message {
	font-size: 1.5em;
	color: white;
	/*display: */
}

.stats-container .hideme {
	position: absolute;
	bottom: -10px;
	background-color: #144052;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
}

.stats-container .hideme:hover {
    background-color: #ee6123;
}

/*review container*/
.review-container {
	display: flex;
	flex-direction: row;
}

/*studies view*/
.studies-container {
	display: flex;
	flex-direction: column;
	width: 580px;
	overflow-y: scroll;
	height: calc(100vh - 62px - 250px);
	background-color: #f1f1f1; 
}

.studies-container .study {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    background-color: white;
    background: #FEFEFE;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
    background-color: rgba(0,0,0,0);
    height: 110px;
}
.studies-container .study.selected {
	background-color: #528DFF;
    color: white;
}

.studies-container .study .imgwrapper {
	width:30%;
	height: 100%;
	align-self: center;
}

.studies-container .study img {
	width:100%;
	height: 100%;
}

.studies-container .study .details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.studies-container .study .details .session-count{
	color: #ACACAC;
	font-style: italic;
	font-weight: 200;
	color: inherit;
}



.studies-container .filter-container .filters {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.studies-container .filter-container .filters{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.studies-container .filter-container .filters .search {
	border: none;
	font-size: 13px;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	width: 50%;
	margin: 10px 5px;
}

.studies-container .filter-container .filters .toggler {
	position: relative;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	width: 50%;
	margin: 10px 5px;
	display: flex;
	justify-content: space-around;
	font-size: 13px;
}

.studies-container .filter-container .filters .toggler .left,
.studies-container .filter-container .filters .toggler .right {
	display: flex;
	align-items: center;
	z-index: 1;
}

.studies-container .filter-container .filters .toggler .right.active,
.studies-container .filter-container .filters .toggler .left.active {
	color:white;
}

.studies-container .filter-container .filters .toggler .highlighted {
	position: absolute;
    background-color: #528DFF;
    width: 50%;
    height: 100%;
    /*left: 0;*/
    top: 0;
    border-radius: 20px;
}
.studies-container .filter-container .results {
    text-align: center;
    font-size: 13px;
    color: #464C50;
}

.sessions-container {
	width: calc(100vw - 580px);
	height: calc(100vh - 62px - 265px);
	padding: 15px 15px 0 15px;
	position: relative;
	display: flex;
    flex-direction: column;
}

.sessions-container .titles {
	list-style: none;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid grey;
	padding: 10px 0;
	align-items: center;
	cursor: default;
}

.sessions-container .titles li.active {
	font-weight: 600;
	color: #528DFF;
	font-size: 18px;
}

.sessions-container .titles li:hover {
	color: #ee6123;
}

.sessions-container .not-finished {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sessions-sidebar {
	width: 250px;
}

.sessions-sidebar .session {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 10px 10px 5px;
	border-bottom: 1px solid grey;
}

.sessions-sidebar .session .details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 12px;
	color: #919CA2;
}

.sessions-sidebar .session .details * {
	margin: 3px 0;
}

.sessions-sidebar .session.selected {
	background-color: #528DFF;
	color: white;
	border-bottom: 1px solid white !important;
}

.sessions-sidebar .session.selected * {
	color: white;
}

.heatmaps-container {
	height: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: row;
}

.heatmaps-container .sessions-sidebar {
	overflow: scroll;
}

.heatmap-section {
	width: 100%;
	height: 100%;
	margin-left: 10px;
	overflow-y: scroll;
}

#heatmap-wrapper {
	height: 100%;
	display: flex; /* This will disable the ability to have a scrollable image but means the heatmap is rendered correctly */
}

#heatmap-wrapper .heatmap-canvas {
	height: 100%;
	width: 100%;
}

.heatmap-section img {
	width: 100%;
}

/*    position: absolute;
    height: calc(100% - 90px);
    overflow: scroll;
*/