/*==============================
=============Sidebar============
==============================*/
.sessions-view {
	display: flex;
}

.sessions-view li{
	display: block;
}

.sessions-sidebar {
    font-family: 'Raleway', sans-serif;
    background-color: #3F4D5F;
    color: #FFFFFF;
    text-align: center;
    width: 15vw;
    height: 98vh;
}

.sessions-sidebar .info {
    background-color: #515966;
    padding-bottom: 1em;
}

.sessions-sidebar .title {
	font-weight: 600;
    font-size: 2em;
	padding-top: 0.5em;
}

.sessions-sidebar .location {
	font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin: 0 1em;
    word-wrap: break-word;
}

.sessions-sidebar .session {
	cursor: pointer;
	font-size: 1.5em;
	padding: 0.5em;
}

a, a:visited, a:hover, a:active {
	  color: inherit;
	  text-decoration: none;
}

/*Casestudies view*/
.studies-container .title {
	display:block;
	text-align: center;
	font-size: 3em;
	background-color: rgb(115, 129, 146);
	color: white;
	padding: 0.1em 0;
	font-family: Raleway-Medium;
}

.studies {
	background-color: #F5F6F8;
	column-count: 4;
	column-gap: 0;
}

.studies .study {
	float: left;
    break-inside: avoid;
    background-color: white;
    margin: 5% 2.5% 0 2.5%;
    padding: 2%;
    background: #FEFEFE;
}

.studies .study img {
	width:100%;
}

/*==============================
=============Heatmap============
==============================*/

.review-page {
	display: inline;
}
#heatmapContainerWrapper { 
	width:100%; 
	height:100%; 
	position:absolute;
	width: 85vw;
	height: 98vh;
}
#heatmapContainer { 
	width:100%; 
	height:100%;
	/*background-image: url("../assets/images/hero.jpg");*/
	/*background-repeat:   no-repeat;*/
	/*background-size: cover;  */
}

#heatmapContainer img {
	width: 100%;
	height: 100%;
}

.heatmap-canvas {
	width: 100%;
	height: 100%;
}

.instructions {
	margin: auto;
	font-family: Raleway-Medium;
	font-size: 2em;
	text-align: center;
}

/*new stuff */

.dash {
	height: 100vh;
}
