/*==============================
=============Sidebar============
==============================*/
.sessions-view {
	display: flex;
}

.sessions-view li{
	display: block;
}

.sessions-sidebar {
    font-family: 'Raleway', sans-serif;
	height: 100vh;
    background-color: #3F4D5F;
    color: #FFFFFF;
    text-align: center;
}

.sessions-sidebar .info {
    background-color: #515966;
    padding-bottom: 1em;
}

.sessions-sidebar .title {
	font-weight: 600;
    font-size: 2em;
	padding-top: 0.5em;
}

.sessions-sidebar .location {
	font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin: 0 1em;
}

.sessions-sidebar .session {
	cursor: pointer;
	font-size: 1.5em;
	padding: 0.5em;
}

a, a:visited, a:hover, a:active {
	  color: inherit;
	  text-decoration: none;
}

/*Casestudies view*/
.casestudies {
	background-color: #F5F6F8;
	column-count: 4;
	column-gap: 0;
}

.casestudies .case-study {
	float: left;
    break-inside: avoid;
    background-color: white;
    margin: 5% 2.5% 0 2.5%;
    padding: 2%;
    background: #FEFEFE;
}

.casestudies .case-study img {
	width:100%;
}

.casestudies .title {
	display:block;
	font-size: 1.5em;
}

/*==============================
=============Heatmap============
==============================*/

.review-page {
	display: inline;
}
#heatmapContainerWrapper { 
	width:100%; 
	height:100%; 
	position:absolute; 
}
#heatmapContainer { 
	width:100%; 
	height:100%;
	background-image: url("../assets/images/hero.jpg");
	background-repeat:   no-repeat;
	background-size: cover;  
}
