.watch {
	width: 100vw;
	height: 100vh;
}

.watch img {
	width: 100%;
	height: 100%;
}

svg:hover .circle-overlay {
  stroke-dashoffset: 0;
}

.circle-overlay {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  transition: all .1s linear;
  stroke: red;
}
svg,
cicle {
  transform: translateZ(0);
}

.instructions {
	text-align: center;
}