.button {
	background-color: action;
	color: white;
	text-align: center;
	cursor: pointer;
	&.small {
		font-size: 12px;
		padding: 5px 10px;
	}
	&.medium {
		padding: 8px 16px;
	}
	&.large {

	}
	&.round {
		border-radius: 100px;
	}
	&:hover {
		background-color: action-hover;
	}
}