.header {
  display: flex;
  height: headerHeight;
  flex-direction: row;
  align-items: center;
  background-color: dark-green;
  color: white;
  font-weight: lighter;
  padding: 0 1em;
  a {
    font-size: 1em;
    color: white;
    margin: 0 0.5em
  }

  .logo {
    margin-right: auto;
  }
  
  .button {
    margin-right: 15px;
  }
}
