#stats-container {
	grid-column-start: span 3;
	grid-row-start: span 2;
	background-color: medium-green;
	padding: 10px;
	position: relative;
	#stats {
		font-size: 1.5em;
		color: white;
		height: 100%;
		widht: 100%;
		flex-center()
	}
	
	.bottom-bar {
		width: 100%;
		position: absolute;
		justify-content: center;
		display: flex;
		bottom: -10px;
		.button {
			background-color: medium-green;
			&:hover {
				background-color: action-hover;
			}
		}
	}
}

/* Out here to reduce the specificity so that the 
:hover psuedoclass still works*/
