.stats-container {
	background-color: medium-green;
	padding: 10px;
	height: stats-large;
	display: flex;
	flex-direction: column;
	position: relative;
	&.small {
		height: stats-small;
	}
	.stats {
		height: 100%;
		width: 100%;
		flex-center()
		.message {
			font-size: 1.5em;
			color: white;
		}
	}
	
	.bottom-bar {
		width: 100%;
		position: absolute;
		justify-content: center;
		display: flex;
		bottom: -10px;	
	}
}

/* Out here to reduce the specificity so that the 
:hover psuedoclass still works*/
.button {
	background-color: medium-green;
}