.stats-container {
	background-color: #144052;
	height: 50px;
	display: flex;
	    flex-direction: column;
	    position: relative;
	.stats {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.message {
			font-size: 1.5em;
			color: white;
		}
	}
	
	.bottom-bar {
		width: 100%;
		position: absolute;
		    justify-content: center;
		    display: flex;
		    bottom: -10px;		
		.button {
			background-color: #144052;
			color: white;
			padding: 5px;
			font-size: 12px;
			border-radius: 10px;
			margin: auto;
			&:hover {
				background-color: #ee6123;
			}
		}
		
	}
}