.heatmaps-container {
	height: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: row;
	
	@media screen and (max-width: break-large) {
		flex-direction: column
	}
}

.heatmaps-container .sessions-sidebar {
	overflow: scroll;
}