.sessions-container {
  padding: 15px 15px 0 15px;
  position: relative;
  grid-column-start: span 2
  
  @media screen and (max-width: break-medium) {
    grid-column-start: span 3
  }
  
  .titles {
    list-style: none;
    display: flex;
    height: 1em;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    align-items: center;
    cursor: default;
  }

  .titles li.active {
    font-weight: 600;
    color: #528DFF;
    font-size: 1em;
  }

  .titles li:hover {
    color: #ee6123;
  }

  .not-finished {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
