.button {
	background-color: button;
	color: white;
	padding: 5px;
	&.small {
		font-size: 12px;
		border-radius: 10px;
		
	}
	&.medium {
		padding: 8px 16px;
		margin-right: 15px;
		font-weight: bold;
	}
	&.large {

	}
	&.round {
		border-radius: 10px;
	}
	&:hover {
		background-color: button-hover;
	}
}