.toggler {
  position: relative;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  width: 50%;
  margin: 10px 5px;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}

.toggler .left,
.toggler .right {
  display: flex;
  align-items: center;
  z-index: 1;
}

.toggler .right.active,
.toggler .left.active {
  color:white;
}

.toggler .highlighted {
  position: absolute;
    background-color: #528DFF;
    width: 50%;
    height: 100%;
    /*left: 0;*/
    top: 0;
    border-radius: 20px;
}