body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

#main {
	display: flex;
	flex-direction: column;
}

/* Global Variables */
stats-small = 50px
stats-large = 250px

/*Colors*/
dark-green = #003144
medium-green = #144052
action = #528DFF
action-hover = #EE6123

/*Breakpoints*/
break-large = 1000px
break-medium = 800px
break-small = 400px

flex-center()
	display: flex;
	align-items: center;
	justify-content: center;

@import 'atoms/*'
@import 'molecules/*'
@import 'organisms/*'
@import 'pages/*'