#app {
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

/* Global Variables */
header-height = 60px
stats-small = 50px
stats-large = 250px

/*Colors*/
dark-green = #003144
button = #528DFF
button-hover = #ee6123

flex-center()
	display: flex;
	align-items: center;
	justify-content: center;

@import 'atoms/*'
@import 'molecules/*'
@import 'organisms/*'
@import 'pages/*'