.stats-container {
	position: relative;
	background-color: #144052;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	.message {
		font-size: 1.5em;
		color: white;
		/*display: */
	}
	
	.hideme {
		position: absolute;
		bottom: -10px;
		background-color: #144052;
	    color: white;
	    padding: 5px;
	    font-size: 12px;
	    border-radius: 10px;
	}
	&.hover {
		background-color: #ee6123;
	}
}