#dash {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 60px 250px 1fr;
	
	&.smallStats {
		grid-template-rows: 60px 50px 1fr;
	}
	
	&.noStudies {
		grid-template-columns: repeat(2, 1fr);
	}
}